:root {
  --app-color-primary: #1677ff;
  --app-color-primary-light-9: #e6f4ff;
  --app-color-info: #909399;
  --app-color-danger: #ff4d4f;
  --app-color-warning: #faad14;
  --app-color-success: #52c41a;
  --app-color-black: #000;
  --app-color-white: #fff;
  --app-bg-color: #fff;
  --app-border-color: #d9d9d9;
  --app-text-color-regular: #262626;
  --app-text-color-secondary: #595959;
  --app-text-color-placeholder: #8c8c8c;
  --app-text-color-disabled: #d9d9d9;
  --app-border-radius-base: 6px;
  --app-border-radius-small: 4px;

  --dark-bg-color: #293146;

  /* left menu start */
  --left-menu-border-color: #001529;

  --left-menu-max-width: 200px;

  --left-menu-min-width: 64px;

  --left-menu-bg-color: #001a2f;

  --left-menu-bg-light-color: #021f38;

  --left-menu-bg-active-color: #1677ff;

  --left-menu-text-color: #c8d3df;

  --left-menu-text-active-color: #fff;

  --left-menu-collapse-bg-active-color: #1677ff;
  /* left menu end */

  /* logo start */
  --logo-height: 48px;

  --logo-title-text-color: #fff;

  --logo-border-color: rgb(255 255 255 / 8%);
  /* logo end */

  /* header start */
  --top-header-bg-color: #fff;

  --top-header-text-color: #111827;

  --top-header-hover-color: #f5f8ff;

  --top-tool-height: 48px;

  --top-tool-p-x: 8px;

  --top-tool-border-color: #edf0f5;

  --tags-view-height: 34px;

  --tags-view-border-color: #edf0f5;
  /* header start */

  /* tab menu start */
  --tab-menu-max-width: 80px;

  --tab-menu-min-width: 30px;

  --tab-menu-collapse-height: 36px;

  --tab-menu-border-color: #eee;
  /* tab menu end */

  --app-content-padding: 16px;

  --app-content-bg-color: #f4f6fa;

  --app-footer-height: 50px;

  --transition-time-02: 0.2s;
}
